<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>{% block title %} Django {% endblock  %}</title>
    </head>
    <body class="container-fluid m-0">
        {% load bootstrap5 %}
        <nav class="d-flex flex-row justify-content-between align-items-center bg-dark p-2 bg-opacity-50 text-white text-center w-auto">
            <h6 class="navbar-brand align-sm-self-flex-start">{% block name %}{% endblock %}</h6>
            <div class="d-flex flex-column flex-sm-column flex-md-row justify-content-between align-items-center w-50">
                <p class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><a href="{% url 'home' %}">Home</a></p>
                {% block addbutton %}{% endblock  %}
                <p class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><a href="{% url 'viewchat' %}">Chat</a></p>
                <p class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><a href="{% url 'message' %}">Send Message</a></p>
                <p class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><a href="{% url 'logout' %}">Logout</a></p>
            </div>
        </nav>
        <main class="d-flex flex-column justify-content-center align-items-center w-90">
            <div id="messageContainers">
                {% block messagecontainer %}{% endblock  %}
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const msgCont = document.getElementById('messageContainers');
                    if (msgCont) {
                        setTimeout(function() {
                            msgCont.style.display = 'none';
                        }, 5000)
                    }
                })
            </script>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>

