{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load bootstrap5 %}
{% block name %}
    Welcome {{ user.username}}!
{% endblock  %}
{% block addbutton %}
{% if request.user.is_admin %}
    <p class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        <a href="{% url 'viewuser' %}">Add user</a>
    </p>
{% endif %}
{% endblock  %}

{% block content %}
    <h5 class="text-center mt-4">
        {% if request.user.is_admin %}
        You can complete your tasks for today. 
        All the Best.
        {% else %}
        You can search for your job. Hope you
        land in dream jobs
        {% endif %}
    </h5>
    <div>
        <h5 class="text-left"><b>First Name: </b>{{ request.user.first_name }}</h5>
        <h5><b class="text-left">Last Name: </b>{{ request.user.last_name }}</h5>
        <h5><b class="text-left">Email: </b>{{ request.user.email }}</h5>
        <h5><b class="text-left">Department: </b>{{ request.user.departmant }}</h5>
    </div>
{% endblock content %}

